.container
  .login-page-box
    %h2 The Social Network Login

    - if flash[:login_partial]
      = render partial: "flashes/login/#{flash[:login_partial]}"

    .login-box-inner
      = form_tag login_url, class: 'login-form' do
        .login-field
          = label_tag :email, "Email or Phone:"
          = text_field_tag :email, '', tabindex: 1
        .login-field
          = label_tag :password, "Password:"
          = password_field_tag :password, '', tabindex: 2
        .checkbox
          = label_tag :remember do
            = check_box_tag :remember, 0, false, tabindex: 3
            Keep me logged in
        .submit-field
          = submit_tag "Log In", tabindex: 4
          or
          = link_to 'Sign up for The Social Network', '#', tabindex: 5

      = link_to 'Forgot your password?', '#', tabindex: 6, class: 'forgot-password-link'

  .login-page-languages.clearfix
    = link_to 'Italiano', '#'
    = link_to 'English (US)', '#'
    = link_to 'Español', '#'
    = link_to 'Português (Brasil)', '#'
    = link_to 'Français (France)', '#'
    = link_to 'Deutsch', '#'
    = link_to 'العربية', '#', dir: 'ltr'
    = link_to 'हिन्दी', '#'
    = link_to '中文(简体)', '#'
    = link_to '日本語', '#'
