#profile-intro
  #profile-cover
    #cover-border
    = image_tag @user.cover_image, alt: 'Cover Photo'
    %h2
      = link_to @user.full_name, profile_url(@user)

  #profile-headline
    #profile-image
      = image_tag @user.profile_image, alt: @user.full_name
    #profile-actions
      - if @user != current_user
        - if current_user.has_friend? @user
          .button.has-dropdown
            %i.fa.fa-check
            Friends
            %ul.dropdown-menu
              %li
                = link_to 'Get Notifications', '#'
              %li.separator
              %li
                = link_to 'Close Friends', '#'
              %li
                = link_to 'Acquaintances', '#'
              %li
                = link_to 'Add to another list', '#'
              %li.separator
              %li
                = button_to friend_request_path(@user), method: :delete do
                  Unfriend
        - elsif current_user.has_friend_request? @user
          .button.has-dropdown
            %i.fa.fa-plus
            Friend Request Sent
            %ul.dropdown-menu
              %li
                = link_to 'Close Friends', '#'
              %li
                = link_to 'Acquaintances', '#'
              %li
                = link_to 'Add to another list', '#'
              %li.separator
              %li
                = button_to friend_request_path(@user), method: :delete do
                  Cancel Request
        - elsif current_user.has_received_friend_request? @user
          = button_to friend_request_path(@user), class: 'button', form_class: 'inline-form' do
            %i.fa.fa-plus
            Accept Friend Request
        - else
          = button_to friend_request_path(@user), class: 'button', form_class: 'inline-form' do
            %i.fa.fa-plus
            Add Friend

      .button-group
        - if @user != current_user and current_user.has_friend? @user
          .button
            Following
        .button
          Message
        .button.has-dropdown
          \...
          %ul.dropdown-menu.right-dropdown
            - if @user != current_user
              - if current_user.has_friend? @user
                %li
                  = link_to 'See Friendship', '#'
                %li.separator
                %li
                  = link_to 'Poke', '#'
                %li.separator
              - elsif current_user.has_friend_request? @user
                %li
                  = button_to friend_request_path(@user), method: :delete do
                    Cancel Friend Request
              %li
                = link_to 'Report', '#'
              %li
                = link_to 'Block', '#'
            - else
              %li
                = link_to 'View as...', '#'
              %li
                = link_to 'Timeline Settings', '#'
              %li
                = link_to 'Add a Badge to Your Site', '#'

    #profile-links-container
      %ul#profile-links.clearfix
        - headline_link 'Timeline', profile_path(@user)
        - headline_link 'About', profile_about_path(@user)
        - headline_link 'Photos', '#'
        - headline_link 'Friends', '#'
        %li.has-dropdown
          = link_to '#' do
            More
            %i.fa.fa-caret-down

          %ul.dropdown-menu
            %li
              = link_to 'Places', '#'
            %li
              = link_to 'Music', '#'
            %li
              = link_to 'Movies', '#'
            %li
              = link_to 'TV Shows', '#'
            %li
              = link_to 'Books', '#'
            %li
              = link_to 'Likes', '#'
            %li
              = link_to 'Events', '#'
            %li
              = link_to 'Groups', '#'
            %li
              = link_to 'Sports', '#'
            %li
              = link_to 'Reviews', '#'
            %li
              = link_to 'Notes', '#'
            %li.separator
            %li
              = link_to 'Manage Sections', '#'
