%header#site-header
  .container
    %h1.navbar-header
      = link_to root_path, class: 'navbar-brand', title: 'Go to The Social , Network home', tabindex: 1 do
        = image_tag 'logo.png', alt: 'The Social Network Logo'
    %nav
      .collapse.navbar-collapse
        - if controller_name != 'sessions'
          .pull-right
            = form_tag login_url, class: 'login-form' do
              .pull-left.login-field
                = label_tag :email, "Email or Phone", class: 'sr-only'
                = text_field_tag :email, '', placeholder: 'Email or Phone', tabindex: 2
                = label_tag :remember, class: 'checkbox' do
                  = check_box_tag :remember, 1, false, tabindex: 4
                  Keep me logged in
              .pull-left.login-field
                = label_tag :password, "Password", class: 'sr-only'
                = password_field_tag :password, '', placeholder: 'Password', tabindex: 3
                = link_to 'Forgot your password?', '#', tabindex: 6
              .pull-left.submit-field
                = submit_tag "Log In", tabindex: 5