%table.footer-links
  %tr
    %td= link_to 'Mobile', '#'
    %td= link_to 'Find Friends', '#'
    %td= link_to 'Badges', '#'
    %td= link_to 'People', '#'
    %td= link_to 'Pages', '#'
    %td= link_to 'Places', '#'
    %td= link_to 'Games', '#'
    %td= link_to 'Locations', '#'
    %td= link_to 'About', '#'
  %tr
    %td= link_to 'Create Ad', '#'
    %td= link_to 'Create Page', '#'
    %td= link_to 'Developers', '#'
    %td= link_to 'Careers', '#'
    %td= link_to 'Privacy', '#'
    %td= link_to 'Cookies', '#'
    %td= link_to 'Terms', '#'
    %td= link_to 'Help', '#'