%header#site-header.logged-in
  .container
    %h1.navbar-header
      = link_to root_path, tabindex: 1 do
        = image_tag 'logo_squared.png', alt: 'The Social Network'
    %nav
      %ul.header-utilities
        %li.header-hovering
          = link_to current_user.name, '#'
        %li.header-hovering
          = link_to 'Home', home_url
        %li.header-menus
          %i.fa.fa-users
          %i.octicon.octicon-comment-discussion
          %i.octicon.octicon-globe
        %li
          %i.fa.fa-lock
        %li.open-header-menu.open-click-menu
          %i.fa.fa-caret-down.open-header-menu-icon

          %ul#header-arrow-menu.click-menu
            %li.header-menu-arrow
              %i.fa.fa-caret-up
            %li.menuitem
              Hello!
            %li.menuitem
              = button_to logout_url, method: :delete, tabindex: 4 do
                Log Out

      .search-container
        = form_tag search_url do
          .search-box-faker
            %button.search-box-submit(type="submit" tabindex="3")
              %i.fa.fa-search
            = text_field_tag :query, '', placeholder: 'Search for people, places and things', tabindex: 2, class: 'boxed'

.header-padding