!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'The Social Network'
    %meta{:name => "description", :content => content_for?(:description) ? yield(:description) : 'The Social Network'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #main-container
      - if current_user
        = render 'layouts/user_header'
      - else
        = render 'layouts/anonymous_header'
      %main{:role => "main"}
        = yield

      %footer#site-footer
        = render 'layouts/footer'